.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #99bcd1, #a9c4d5, #b9ccd9, #c8d4dd, #d6dce1);
}

.login-logo {
    height: 35px;
}

.login-header {
    text-align: center;
    width: 100%;
    color: var(--primary-color-bold);
    font-weight: bold;
    font-size: 35px
}

.login-text {
    text-align: center;
    width: 35%;
    min-width: 280px;
    color: var(--primary-color);
}

.login-box {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 65%;
    min-width: 300px;
    max-width: 900px;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.login-input {
    position: relative;
    display: inline-block;
    margin: 25px 10px;
    width: 60%;
    min-width: 280px;
}

#username {
    width: 100%;
    font-size: 20px;
}

#password {
    width: 100%;
    font-size: 20px;
}

.login-message {
    margin-top: 15px;
    padding: 5px;
    width: 60%;
    min-width: 280px;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
}

.login-message.error {
    color: red;
}

.login-message.success {
    color: green;
}

.login-button {
    width: 60%;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    min-width: 280px;
}